<!-- slider-area-2 Start -->

<div class="slider-area slider-area-img slider-area-about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-text-2 text-center">
                    <h2>Nosotros</h2>
                    <p>
                        <a href="index.html">Home</a>
                        <span>
                            <i class="fa fa-angle-right"></i>
                            <i class="fa fa-angle-right"></i>
                        </span>Nosotros</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- slider-area-2 End -->

<!-- about-us-area Start -->

<div class="about-us-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-us-left wow fadeInLeft text-justify">
                    <h2>Bienvenido a Medingenio</h2>
                    <p>Somos un aliado estratégico dentro de las empresas en el sector de la salud, estamos comprometidos con
                        el crecimiento y mejora de los procesos, buscando un servicio consistente, con los estándares de
                        calidad más altos, manteniendo las estrictas normas y regulaciones impuestas por el Gobierno Colombiano.
                        Contamos con la educación, experiencia y soluciones comprobadas necesarias para adquirir y mantener
                        las certificaciones de cumplimiento obligatorio.
                    </p>
                    <p>También contamos con herramientas innovadoras que apoyan procesos optimizados y las mejores prácticas
                        administrativas para que nuestros clientes puedan crecer de forma más rápida, inteligente y eficiente,
                        con la tranquilidad y seguridad que merecen. </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-video">
                    <a class="mfp-iframe video-play-btn" href="https://www.youtube.com/watch?v=XkUopuFBx3c">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about-us-area End -->

<!-- single-service-area Start -->

<!-- <div class="single-service-area section-padding about-us-mission">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="business-planning company-mission wow fadeInUp">
                    <h2>Nuestra misión</h2>
                    <p>Hearing hearted shewing own ask Solicitude uncommonly use her motionless notco mitting neglected is he
                        belonging to perpetual objection up has .</p>
                    <ul>
                        <li>Work fewer hours — and make more money</li>
                        <li>Attract and retain quality, high-paying customers</li>
                        <li>Hone sharp leadership skills to manage your team</li>
                        <li>Automate your business, so you can leave for days</li>
                        <li>Cut expenses without sacrificing quality</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="business-planning company-mission wow fadeInUp">
                    <h2>Nuestra visión</h2>
                    <p>Sitting mistake towards his few country ask You delighted two rapturous six depen unaffected Norland
                        adapted put ham cordial Ladies talked may shy.</p>
                    <ul>
                        <li>Work fewer hours — and make more money</li>
                        <li>Attract and retain quality, high-paying customers</li>
                        <li>Hone sharp leadership skills to manage your team</li>
                        <li>Automate your business, so you can leave for days</li>
                        <li>Cut expenses without sacrificing quality</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- single-service-area End -->


<!-- team-area Start -->

<div class="team-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title section-title-style-2 wow fadeInLeft">
                    <h2>Conoce nuestro increíble
                        <br> equipo de trabajo</h2>
                    <p>Estos son los profesionales que están comprometidos contigo y están a tu disposición</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="single-team-item">
                    <img src="../assets/img/team/Patricia.jpg" alt="">
                    <div class="single-team-item-hover">
                        <div class="single-team-item-hover-content">
                            <h3>Patricia Espinosa</h3>
                            <h4>Ingeniera Biomedica</h4>
                        </div>
                        <div class="single-team-item-hover-icon">
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-link"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-team-item">
                    <img src="../assets/img/team/Sandra.jpg" alt="">
                    <div class="single-team-item-hover">
                        <div class="single-team-item-hover-content">
                            <h3>Sandra Agudelo</h3>
                            <h4>Bacterióloga
                                <br> Especializada en Auditoria en Salud</h4>
                        </div>
                        <div class="single-team-item-hover-icon">
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-link"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-team-item">
                    <img src="../assets/img/team/Carlos.jpg" alt="">
                    <div class="single-team-item-hover">
                        <div class="single-team-item-hover-content">
                            <h3>Carlos Moya</h3>
                            <h4>Ingeniero de desarrollo de software</h4>
                        </div>
                        <div class="single-team-item-hover-icon">
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- team-area End -->