<!-- client-area Start -->
<div class="client-area section-padding">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-title">
                  <h2>Nuestros clientes</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="clients-list-item">

                  <div class="single-client-item">
                      <div class="single-client-item-table-cell">
                          <a href="javascript:void(0)">
                              <img src="/assets/img/clients/abcBebe.png" alt="">
                          </a>
                      </div>
                  </div>

                  <div class="single-client-item">
                      <div class="single-client-item-table-cell">
                          <a href="javascript:void(0)">
                              <img src="/assets/img/clients/armoniaLaser.png" alt="">
                          </a>
                      </div>
                  </div>

                  <div class="single-client-item">
                      <div class="single-client-item-table-cell">
                          <a href="javascript:void(0)">
                              <img src="/assets/img/clients/asociadosEnReproduccionHumanaSAS.png" alt="">
                          </a>
                      </div>
                  </div>

                  <div class="single-client-item">
                      <div class="single-client-item-table-cell">
                          <a href="javascript:void(0)">
                              <img src="/assets/img/clients/biothecare.png" alt="">
                          </a>
                      </div>
                  </div>

                  <div class="single-client-item">
                      <div class="single-client-item-table-cell">
                          <a href="javascript:void(0)">
                              <img src="/assets/img/clients/clinicaColombianaDeObesidadMetabolismo.png" alt="">
                          </a>
                      </div>
                  </div>

                  <div class="single-client-item">
                      <div class="single-client-item-table-cell">
                          <a href="javascript:void(0)">
                              <img src="/assets/img/clients/doctoraSandraTovar.png" alt="">
                          </a>
                      </div>
                  </div>

                  <div class="single-client-item">
                      <div class="single-client-item-table-cell">
                          <a href="javascript:void(0)">
                              <img src="/assets/img/clients/ingenmedics.png" alt="">
                          </a>
                      </div>
                  </div>

                  <div class="single-client-item">
                      <div class="single-client-item-table-cell">
                          <a href="javascript:void(0)">
                              <img src="/assets/img/clients/maria-bahamon.png" alt="">
                          </a>
                      </div>
                  </div>

                  <div class="single-client-item">
                      <div class="single-client-item-table-cell">
                          <a href="javascript:void(0)">
                              <img src="/assets/img/clients/naturveda.png" alt="">
                          </a>
                      </div>
                  </div>

                  <div class="single-client-item">
                      <div class="single-client-item-table-cell">
                          <a href="javascript:void(0)">
                              <img src="/assets/img/clients/opalen.png" alt="">
                          </a>
                      </div>
                  </div>

                  <div class="single-client-item">
                      <div class="single-client-item-table-cell">
                          <a href="javascript:void(0)">
                              <img src="/assets/img/clients/reflections.png" alt="">
                          </a>
                      </div>
                  </div>
                  <div class="single-client-item">
                          <div class="single-client-item-table-cell">
                              <a href="javascript:void(0)">
                                  <img src="/assets/img/clients/staren.png" alt="">
                              </a>
                          </div>
                      </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- client-area End -->

<!-- footer-top-area Start -->
