<meta property="og:url"                content="https://www.medingenio.com/blog-detail/1" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Visita de la Secretaria de Salud, ¿Una Lipo-Visita?" />
<meta property="og:description"        content="EN DÍAS PASADOS recibí la llamada de un amigo, que me comento, que a uno de sus mejores clientes le anunciaron vista de la Secretaria Distrital de Salud y que el asesor que les estaba ayudando, se había perdido del mapa, no contestaba llamadas ni correos y que como buenos colombianos, el prestador había dejado las tareas del sistema de habilitación para lo último. Nos pidieron visitarlos y realizar un chequeo a los documentos y al proceso que ellos llevaban." />
<meta property="og:image"              content="https://www.medingenio.com/assets/img/blog/lipovisita.jpg" />

<div class="slider-area slider-area-img slider-area-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider-text-2 text-center">
          <h2>Blog</h2>
          <p>
            <a href="index.html">Home</a>
            <span>
              <i class="fa fa-angle-right"></i>
              <i class="fa fa-angle-right"></i>
            </span>Blog</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-blog-page-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="blog-left-content">
          <div class="single-blog-left-item">
            <img [src]="article.image" alt="">
            <div class="single-blog-text wow fadeInLeft" [innerHTML]="article.text">

            </div>
            <div class="block-content-blog-bottom">
              <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                  <div class="blog-social-icons">
                    <p>
                      <b>Comparte este contenido</b>
                    </p>
                    <a [href]="article.facebook" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a [href]="article.twitter" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a [href]="article.linkedin" target="_blank">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-comment">
        </div>
        <div class="leave-a-reply">
        </div>
      </div>
      <div class="col-sm-4">

        <div class="single-sidebar-item">
          <h3>Artículos recientes…</h3>
          <div *ngFor="let article of articles" class="single-sidebar-blog-box">
            <div class="row">
              <div class="col-sm-4">
                <div class="single-sidebar-blog-box-img">
                  <img [src]="article.imageMini">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="single-sidebar-blog-box-text">
                  <h4>{{article.title}}</h4>
                  <h5 class="text-right">{{article.textMini}}</h5>
                  <a [routerLink]="['/blog-detail',article.id]" class="blog-btn">Ver más</a>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-right">
              <br>
              <a [routerLink]="['/blog']" class="blog-btn">
                Ver la lista completa!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <br>
      <br>
    </div>
  </div>
</div>
<!-- single-blog-page-area End -->