<!-- slider-area-2 Start -->
<div class="slider-area slider-area-img slider-area-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-text-2 text-center">
                    <h2>Contacto</h2>
                    <p>
                        <a href="index.html">Home</a>
                        <span>
                            <i class="fa fa-angle-right"></i>
                            <i class="fa fa-angle-right"></i>
                        </span>Contacto</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- slider-area-2 End -->

<!-- contact-map-area Start -->

<!-- <div class="contact-map-area">
      <div id="googleMap" style="width:100%;height:512px"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7CQl6fRhagGok6CzFGOOPne2X1u1spoA"></script>
      <script src="js/map.js"></script>
  </div> -->

<!-- contact-map-area End -->

<!-- contact-page-area Start -->

<div class="contact-page-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="contact-page-left">
                    <h2>Déjanos un mensaje!</h2>
                    <p>Permítenos resolver tus dudas y acercarnos a ti, después de todo es por lo cual estamos aquí. Estaremos
                        en contacto contigo a la mayor brevedad..</p>
                    <form (ngSubmit)="post()" #contactForm="ngForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="text" name="name" #contactname="ngModel" placeholder="Nombre*" [(ngModel)]="mail.name" required>
                                <div class="md-errors-spacer" [hidden]="contactname.valid || contactname.untouched">
                                    <div *ngIf="contactname.errors && contactname.errors.required">
                                        Este campo es requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="lastName" #contactlastname="ngModel" placeholder="Apellido*" [(ngModel)]="mail.lastName" required>
                                <div class="md-errors-spacer" [hidden]="contactlastname.valid || contactlastname.untouched">
                                    <div *ngIf="contactlastname.errors && contactlastname.errors.required">
                                        Este campo es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="email" name="email" #contactemail="ngModel" placeholder="Correo electrónico*" [(ngModel)]="mail.email" required>
                                <div class="md-errors-spacer" [hidden]="contactemail.valid || contactemail.untouched">
                                    <div *ngIf="contactemail.errors && contactemail.errors.required">
                                        Este campo es requerido
                                    </div>
                                    <div *ngIf="contactemail.errors && contactemail.errors.pattern">
                                        Correo invalido
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="phone" #contactphone="ngModel" placeholder="Teléfono*" [(ngModel)]="mail.phone" required>
                                <div class="md-errors-spacer" [hidden]="contactphone.valid || contactphone.untouched">
                                    <div *ngIf="contactphone.errors && contactphone.errors.required">
                                        Este campo es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea name="message" #contactmessage="ngModel" placeholder="Mensaje*" [(ngModel)]="mail.message" required></textarea>
                                <div class="md-errors-spacer" [hidden]="contactmessage.valid || contactmessage.untouched">
                                    <div *ngIf="contactmessage.errors && contactmessage.errors.required">
                                        Este campo es requerido
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <button class="contactSendButton" type="submit" [disabled]="!contactForm.form.valid">
                                    <span *ngIf="!isMessageSending">
                                        Enviar
                                    </span>
                                    <span *ngIf="isMessageSending">
                                        Enviando
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </span>
                                </button>
                                <br>
                            </div>
                            <div class="col-sm-8 text-center">
                                <div *ngIf="messageSent" class="alert alert-success box-msg" role="alert">
                                    <strong>Mensaje enviado! </strong> Pronto estaremos en contacto.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-page-right">
                    <h2>Nuestros
                        <br>Canales de atención</h2>
                    <div class="company-information">
                        <a href="javascript:vpid(0)">
                            <div class="company-information-icon">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                            </div>
                            <div class="company-information-text">
                                +57-310-3017868
                            </div>

                        </a>
                        <a href="mailto:contacto@medingenio.com">
                            <div class="company-information-icon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="company-information-text">
                                contacto@medingenio.com
                            </div>
                        </a>
                        <div class="company-information-media">
                            <a href="https://www.facebook.com/medingenio" target="_blank">
                                <div class="company-information-icon">
                                    <i class="fa fa-facebook"></i>
                                </div>
                            </a>

                            <a href="https://twitter.com/medingenio" target="_blank">
                                <div class="company-information-icon">
                                    <i class="fa fa-twitter"></i>
                                </div>
                            </a>

                            <a href="https://www.linkedin.com/company/medingenio" target="_blank">
                                <div class="company-information-icon">
                                    <i class="fa fa-linkedin"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- contact-page-area End -->