<!-- slider-area-2 Start -->

<div class="slider-area slider-area-img slider-area-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-text-2 text-center">
                    <h2>Servicios</h2>
                    <p>
                        <a href="index.html">Home</a>
                        <span>
                            <i class="fa fa-angle-right"></i>
                            <i class="fa fa-angle-right"></i>
                        </span>Service</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- slider-area-2 End -->

<!-- service-page-area Start -->

<div class="service-page-area section-padding wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="single-service-2-item">
                    <div class="col-xs-2">
                        <span class="home-1-about-icon">
                            <img src="../assets/img/audit.png" alt="">
                        </span>
                    </div>
                    <div class="col-xs-10 single-service-text">
                        <h4>
                            Auditoria, Asesoría y Habilitación en Salud</h4>
                    </div>
                    <p>Procesos de habilitación y auditoria en procedimientos del área de la salud para profesionales independientes
                        e IPS, bajo los parámetros actualizados</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="single-service-2-item">
                    <div class="col-xs-2">
                        <span class="home-1-about-icon">
                            <img src="../assets/img/reports.png" alt="">
                        </span>
                    </div>
                    <div class="col-xs-10 single-service-text">
                        <h4>
                            Reportes
                            <br> Obligatorios
                        </h4>
                    </div>
                    <p>Indicadores ante entidades regulatorias : Secretaria Distrital de Salud (SIRHO, RIPS), SuperSalud (Reporte
                        de indicadores), Invima ( Verificación de alertas sanitarias, Tecnovigilancia, Farmacovigilancia,
                        Reactivovigilancia, CCAA)</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="single-service-2-item">
                    <div class="col-xs-2">
                        <span class="home-1-about-icon">
                            <img src="../assets/img/certifications.png" alt="">
                        </span>
                    </div>
                    <div class="col-xs-10 single-service-text">
                        <h4>
                            Certificaciones
                            <br>RETIE</h4>
                    </div>
                    <p>Verificación de instalaciones eléctricas exigidas por la Resolución 2003 del 2014. Realizado por técnico
                        electricista avalado por el ministerio de minas y energía.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="single-service-2-item">
                    <div class="col-xs-2">
                        <span class="home-1-about-icon">
                            <img src="../assets/img/maintain.png" alt="">
                        </span>
                    </div>
                    <div class="col-xs-10 single-service-text">
                        <h4>
                            Mantenimiento de
                            <br> Equipos Biomédicos</h4>
                    </div>
                    <p>Mantenimiento preventivo y correctivo de equipos biomédicos, cumplimiento con hojas de vida y documentación
                        requerida.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="single-service-2-item">
                    <div class="col-xs-2">
                        <span class="home-1-about-icon">
                            <img src="../assets/img/management.png" alt="">
                        </span>
                    </div>
                    <div class="col-xs-10 single-service-text">
                        <h4>
                            Herramientas
                            <br> de Gestión</h4>
                    </div>
                    <p>Aplicaciones para manejar la información de sus pacientes y su establecimiento, manteniendo la información
                        siempre segura y disponible.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- service-page-area End -->


<!--testimonial-area Start -->

<div class="testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section-title testimonial-title wow fadeInRight">
                    <h2>Recomendaciones</h2>
                    <p>Aquí te presentamos algunas opiniones que nuestros clientes nos han dejado y que seguro te pueden ayudar
                        a tomar la mejor decisión.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="testimonials-list">
                    <div class="single-testimonial-item">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="single-testimonial-img">
                                    <img src="../assets/img/clients/color/naturveda.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                                <div class="single-testimonial-content">
                                    <p>"Le agradezco a Medingenio por su increíble apoyo, dedicación y trabajo. Podemos decir
                                        que gracias a ustedes no tenemos ningún problema con la Secretaria de salud y que
                                        por tres años hemos mantenido una excelente calidad"</p>
                                    <h3>Camilo Hurtado
                                        <br> Gerente IPS Naturveda – Medicina Aryurveda</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-item">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="single-testimonial-img">
                                    <img src="../assets/img/clients/color/clinicaColombianaDeObesidadMetabolismo.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                                <div class="single-testimonial-content">
                                    <p>"La experiencia de la clínica con Medingenio ha sido excelente, Patricia y Sandra no
                                        solo nos han colaborado con cosas puntuales que necesitaba la clínica, sino que además,
                                        nos han dado un tema en capacitación y seguimiento, y pienso que el valor agregado
                                        que tiene ellas no solamente es su excelente trabajo si no el servicio posventa,
                                        siempre pude contar con ellas para dudas, inquietudes, o resolver temas que no tenemos
                                        claro y eso me parece que es lo más valioso"</p>
                                    <h3>Ana María Rey
                                        <br> Gerente IPS Clínica Colombiana de Obesidad y Metabolismo</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-item">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="single-testimonial-img">
                                    <img src="../assets/img/clients/color/opalen.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                                <div class="single-testimonial-content">
                                    <p>"El proceso de habilitación con Medingenio fue excelente, Patricia y Sandra manejan algo
                                        muy importante, que es el acompañamiento con la empresa en todo momento. Además están
                                        disponibles para las dudas que se tengan, si se les pide varias explicaciones del
                                        mismo tema lo hacen con la mejor disposición. La metodología que ellas emplean es
                                        muy buena, además de que manejan perfectamente el tema, son muy didácticas y dinámicas.
                                        Por último son excelentes seres humanos, llenas de valores y principios"</p>
                                    <h3>Doctora Diana Moreno Moreno
                                        <br>Gerente IPS Opalen Medicina Estética y alternativa</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-item">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="single-testimonial-img">
                                    <img src="../assets/img/clients/color/staren.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                                <div class="single-testimonial-content">
                                    <p>"El trabajo con Medingenio, fue excelente, resalto que la información suministrada siempre
                                        fue apropiada, el acampamiento a la hora de realizar las tareas fue completo. Me
                                        encontré dos personas profesionales que sienten pasión y amor por lo que hacen, muy
                                        comprometidas que entregan lo mejor de sí mismas en pro de sus clientes. Todo el
                                        tiempo me siente apoyada y muy bien asesorada"</p>
                                    <h3>Estela Arenas
                                        <br>Gerente Centro de estética y Spa S’tarens.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-item">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="single-testimonial-img">
                                    <img src="../assets/img/clients/color/biothecare.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                                <div class="single-testimonial-content">
                                    <p>"En nuestros centros de estética e IPS, para todas las certificaciónes y habilitaciones
                                        contamos con el apoyo de Patricia Espinosa y Sandra Agudelo en representación de
                                        Medingenio, en todo momento nos han trasmitido la seguridad y la facilidad para llevar
                                        a cabo nuestros procesos. El asesoramiento que nos han dado ha sido totalmente profesional,
                                        sencillo, fácil de digerir para personas que no conocen del tema. También resalto
                                        que hacen seguimiento después de la habilitación, solucionan dudas, tienen muy buena
                                        energía y disposición con los clientes"</p>
                                    <h3>Ignacio Klomer
                                        <br>Gerente Biothecare Estetika Colombia
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-item">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="single-testimonial-img">
                                    <img src="../assets/img/clients/color/maria-bahamon.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-9 col-xs-12">
                                <div class="single-testimonial-content">
                                    <p>"Queremos dar testimonio del EXCELENTE servicio que presta la empresa Medingenio, a través
                                        de Sandra y Patricia, durante el acompañamiento para el proceso de Habilitación,
                                        en cuanto a el conocimiento, la claridad de los temas tratados, puntualidad y responsabilidad.
                                        Obtuvimos muy buenos resultados gracias a su colaboración"</p>
                                    <h3>Margy Bayter Rey 
                                        <br> Directora Administrativa Medicina Estética y Antiedad MB S.A.S.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- testimonial-area End -->

<!-- client-area Start -->

<app-clients></app-clients>

<!-- client-area End -->