    <!-- slider-area-2 Start -->

    <div class="slider-area slider-area-2">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="slider-text-2 text-center">
                      <h2>Service</h2>
                      <p><a href="index.html">Home</a><span><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></span>Service</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- slider-area-2 End -->

  <!-- service-page-area Start -->

  <div class="service-page-area section-padding wow fadeInUp">
      <div class="container">
          <div class="row">
              <div class="col-sm-4">
                  <div class="single-service-2-item">
                      <h3> <span class="home-1-about-icon"><img src="../assets/img/service-icon-1.png" alt=""></span> Travel and Consulting</h3>
                      <p>Creativity is more than just being different. Anybody can <span class="home-1-about-content-color">plan weird</span>; that’s easy. What’s hard is to be as simple </p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="single-service-2-item">
                      <h3><span class="home-1-about-icon"><img src="../assets/img/service-icon-22.png" alt=""></span> Creativity takes courage</h3>
                      <p>Creativity is more than just being different. Anybody can <span class="home-1-about-content-color">plan weird</span>; that’s easy. What’s hard is to be as simple </p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="single-service-2-item">
                      <h3><span class="home-1-about-icon"><img src="../assets/img/home-1-about-icon-2.png" alt=""></span> Market analyzing</h3>
                      <p>Creativity is more than just being different. Anybody can <span class="home-1-about-content-color">plan weird</span>; that’s easy. What’s hard is to be as simple </p>
                  </div>
              </div>
          </div>
          
          <div class="row">
              <div class="col-sm-4">
                  <div class="single-service-2-item">
                      <h3><span class="home-1-about-icon"><img src="../assets/img/service-icon-44.png" alt=""></span> Financial Services </h3>
                      <p>Creativity is more than just being different. Anybody can <span class="home-1-about-content-color">plan weird</span>; that’s easy. What’s hard is to be as simple </p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="single-service-2-item">
                      <h3><span class="home-1-about-icon"><img src="../assets/img/home-1-about-icon-3.png" alt=""></span> Advertisement</h3>
                      <p>Creativity is more than just being different. Anybody can <span class="home-1-about-content-color">plan weird</span>; that’s easy. What’s hard is to be as simple </p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="single-service-2-item">
                      <h3><span class="home-1-about-icon"><img src="../assets/img/home-1-about-icon-4.png" alt=""></span> Fast and responsive</h3>
                      <p>Creativity is more than just being different. Anybody can <span class="home-1-about-content-color">plan weird</span>; that’s easy. What’s hard is to be as simple </p>
                  </div>
              </div>
          </div>
          
          <div class="row">
              <div class="col-sm-4">
                  <div class="single-service-2-item">
                      <h3><span class="home-1-about-icon"><img src="../assets/img/service-icon-77.png" alt=""></span> Consumer Products</h3>
                      <p>Creativity is more than just being different. Anybody can <span class="home-1-about-content-color">plan weird</span>; that’s easy. What’s hard is to be as simple </p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="single-service-2-item">
                      <h3><span class="home-1-about-icon"><img src="../assets/img/home-1-about-icon-5.png " alt=""></span>Financial advise</h3>
                      <p>Creativity is more than just being different. Anybody can plan weird; that’s easy. What’s hard is to be as simple </p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="single-service-2-item">
                      <h3><span class="home-1-about-icon"><img src="../assets/img/home-1-about-icon-6.png" alt=""></span> Business growth</h3>
                      <p>Creativity is more than just being different. Anybody can plan weird; that’s easy. What’s hard is to be as simple </p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- service-page-area End -->

  <!-- titan-cta-area Start -->
  <div class="titan-cta-area titan-cta-area-2">
      <div class="container">
          <div class="row">
              <div class="col-md-7 col-sm-8 wow fadeInLeft">
                  <div class="cta-text">
                      <h2>Purchase Titan Business template now !</h2>
                      <p>Believing neglected so so allowance existence departure In design active temper be uneasy Thirty for remove plenty regard you summer though..</p>
                  </div>
              </div>
              <div class="col-md-3 col-md-offset-2 col-sm-4">
                  <div class="cta-btn-2">
                      <a href="" class="read-more-btn-2 purchase-now-btn">Purchase NOw</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- titan-cta-area End -->

  <!--testimonial-area Start -->

  <div class="testimonial-area">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="section-title testimonial-title wow fadeInRight">
                      <h2>Testomonial</h2>
                      <p>Table nay him jokes quick In felicity up to graceful mistaken horrible consider Abode never think So additions necessary concluded it happiness do on certainly propriet green taken.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <div class="testimonials-list">                      
                      <div class="single-testimonial-item">
                          <div class="row">
                              <div class="col-md-2 col-sm-3 col-xs-12">
                                  <div class="single-testimonial-img">
                                      <img src="../assets/img/testimonial-img-1.jpg" alt="">
                                  </div>
                              </div>
                              <div class="col-md-7 col-sm-9 col-xs-12">
                                  <div class="single-testimonial-content">
                                      <p>Windows talking painted pasture yet its express parties use Sure last upon he same as knew End friendship sufficient assistance can prosperous met As game he show it park do Was Packages oh no denoting my advanced humoured pressed be so thought natural.</p>
                                      <h3>Tamim Iqbal</h3>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="single-testimonial-item">
                          <div class="row">
                              <div class="col-md-2 col-sm-3 col-xs-12">
                                  <div class="single-testimonial-img">
                                      <img src="../assets/img/testimonial-img-1.jpg" alt="">
                                  </div>
                              </div>
                              <div class="col-md-7 col-sm-9 col-xs-12">
                                  <div class="single-testimonial-content">
                                      <p>Windows talking painted pasture yet its express parties use Sure last upon he same as knew End friendship sufficient assistance can prosperous met As game he show it park do Was Packages oh no denoting my advanced humoured pressed be so thought natural.</p>
                                      <h3>Tamim Iqbal</h3>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- testimonial-area End -->

  <!-- client-area Start -->

  <div class="client-area section-padding">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="section-title client-title">
                      <h2>Trusted our Client</h2>
                  </div>
              </div>
          </div>
           <div class="row">
              <div class="col-md-12">
                  <div class="clients-list-item">
                      <div class="single-client-item">
                          <div class="single-client-item-table-cell">
                              <a href="#"><img src="../assets/img/client-img-1.png" alt=""></a>
                          </div>
                      </div>
                      <div class="single-client-item">
                          <div class="single-client-item-table-cell">
                              <a href="#"><img src="../assets/img/client-img-2.png" alt=""></a>
                          </div>
                      </div>
                      <div class="single-client-item">
                          <div class="single-client-item-table-cell">
                              <a href="#"><img src="../assets/img/client-img-3.png" alt=""></a>
                          </div>
                      </div>
                      <div class="single-client-item">
                          <div class="single-client-item-table-cell">
                              <a href="#"><img src="../assets/img/client-img-4.png" alt=""></a>
                          </div>
                      </div>
                      <div class="single-client-item">
                          <div class="single-client-item-table-cell">
                              <a href="#"><img src="../assets/img/client-img-5.png" alt=""></a>
                          </div>
                      </div>
                      <div class="single-client-item">
                          <div class="single-client-item-table-cell">
                              <a href="#"><img src="../assets/img/client-img-6.png" alt=""></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- client-area End -->