<div class="slider-area slider-area-img slider-area-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider-text-2 text-center">
          <h2>Blog</h2>
          <p>
            <a href="index.html">Home</a>
            <span>
              <i class="fa fa-angle-right"></i>
              <i class="fa fa-angle-right"></i>
            </span>Blog</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-blog-page-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-mesonary-area">
          <div class="blog-mesonary-items">
            <a *ngFor="let article of articles | async" [routerLink]="['/blog-detail',article.id]">
              <div class="single-mesonary-item">
                <img [src]="article.imageIntro" alt="">
                <div class="single-mesonary-item-hover">
                  <h3>{{article.title}}</h3>
                  <h4>
                    {{article.createDate | date }}</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <br>
      <br>
    </div>
  </div>
</div>
<!-- single-blog-page-area End -->