<div class="slider-area slider-area-img slider-area-blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider-text-2 text-center">
          <h2>Blog</h2>
          <p>
            <a href="index.html">Home</a>
            <span>
              <i class="fa fa-angle-right"></i>
              <i class="fa fa-angle-right"></i>
            </span>Blog</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-blog-page-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="blog-left-content">
          <div class="single-blog-left-item">
            <img [src]="img" alt="">
            <div class="single-blog-text wow fadeInLeft" [innerHTML]="blog">

            </div>
            <div class="block-content-blog-bottom">
              <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                  <div class="blog-social-icons">
                    <p>
                      <b>Comparte este contenido</b>
                    </p>
                    <a href="#" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" target="_blank">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="blog-comment">
        </div>
        <div class="leave-a-reply">
        </div>
      </div>
      <div class="col-sm-4">

        <div class="single-sidebar-item">
          <h3>Artículos recientes…</h3>
          <div class="single-sidebar-blog-box">
            <div class="row">
              <div class="col-sm-4">
                <div class="single-sidebar-blog-box-img">
                  <img src="/assets/img/blog/5secretosMini.jpg">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="single-sidebar-blog-box-text">
                  <h4>5 Secretos para recibir la visita de la Secretaria sin problemas</h4>
                  <h5>Al iniciar un nuevo proyecto, siempre realizamos un diagnóstico inicial...</h5>
                  <a [routerLink]="['/blog','3']" class="blog-btn">Ver más</a>
                </div>
              </div>
            </div>
          </div>
          <div class="single-sidebar-blog-box">
            <div class="row">
              <div class="col-sm-4">
                <div class="single-sidebar-blog-box-img">
                  <img src="/assets/img/blog/lipovisitaMini.jpg">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="single-sidebar-blog-box-text">
                  <h4>Visita de la Secretaria de Salud ¿Una Lipo-Visita?</h4>
                  <h5>En días pasados recibí la llamada de un amigo...</h5>
                  <a [routerLink]="['/blog','1']" class="blog-btn">Ver más</a>

                </div>
              </div>
            </div>
          </div>
          <div class="single-sidebar-blog-box">
            <div class="row">
              <div class="col-sm-4">
                <div class="single-sidebar-blog-box-img">
                  <img src="/assets/img/blog/seguridadDelPacienteMini.jpg">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="single-sidebar-blog-box-text">
                  <h4>Seguridad del Paciente</h4>
                  <h5>“Seguridad del Paciente se define como el conjunto de elementos...</h5>
                  <a [routerLink]="['/blog','2']" class="blog-btn">Ver más</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <br>
      <br>
    </div>
  </div>
</div>
<!-- single-blog-page-area End -->



