<!-- slider-area Start -->
<div class="slider-area">
    <div class="home-page-sliders">
        <div class="home-page-single-slider home-page2-single-slider-1">
            <div class="home-page-single-slider-table">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slider-text wow fadeInRight">
                                <div class="slider-text-bg">
                                    <h2>Gana
                                        <br>más tiempo
                                        <br>disfutalo en ti
                                    </h2>
                                    <h4>La productividad es un resultado de la constancia y el conocimiento. Entender tu negocio
                                        es una gran responsabilidad y te llevara a decisiones exitosas.</h4>
                                    <a href="javascript:void(0)" class="slider-btn home-1-slider-btn hvr-shutter-out-horizontal">VER MÁS </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-page-single-slider home-page2-single-slider-1 home-1-slide-2">
            <div class="home-page-single-slider-table">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slider-text wow fadeInRight">
                                <div class="slider-text-bg">
                                    <h2>Tu trabajo
                                        <br>es como un
                                        <br>segundo hogar
                                    </h2>
                                    <h4>Allí pasas gran parte de tu día, por eso debe ser un espacio organizado, donde siempre
                                        tengas todos tus procesos en orden y armonía.</h4>
                                    <a href="javascript:void(0)" class="slider-btn home-1-slider-btn hvr-shutter-out-horizontal">
                                        VER MÁS
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-area End -->
<!-- project-2-area Start -->
<div class="project-2-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="single-project-2-item">
                    <a href="javascript:void(0)">
                        <h2>
                            <i class="fa fa-file-text"></i>
                        </h2>
                        <h3>Gestión documental</h3>
                        <p>
                            Administra adecuadamente la documentación requerida por las entidades gubernamentales cómoda y controladamente
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="single-project-2-item">
                    <a href="javascript:void(0)">
                        <h2>
                            <i class="fa fa-graduation-cap"></i>
                        </h2>
                        <h3>Certificaciones</h3>
                        <p>Asesórate con información completa y verídica para que obtengas la certificación que te dará el respaldo
                            ante tus pacientes
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="single-project-2-item">
                    <a href="javascript:void(0)">
                        <h2>
                            <i class="fa fa-bar-chart"></i>
                        </h2>
                        <h3>Reportes</h3>
                        <p>Prepara y presenta tu información a tiempo sin complicaciones, así conocerás mejor tu establecimiento
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- project-2-area End -->


<!-- latest-blog-area Start -->

<div class="latest-blog-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12  wow fadeInRight">
                <div class="latest-blog-content">
                    <h2>Ultimas noticias</h2>
                    <p>Mantente actualizado de las ultimas noticias y tendencias con nuestras notas semanales</p>
                    <div class="latest-blog-list">
                        <div class="single-latest-blog-item">
                            <div class="single-latest-blog-item-img">
                                <a href="javascript:void(0)">
                                    <img src="/assets/img/blog/seguridadDelPacienteMini.jpg" alt="">
                                </a>
                            </div>
                            <div class="single-latest-blog-content">
                                <a href="javascript:void(0)">
                                    <h2>Seguridad del Paciente</h2>
                                </a>
                                <p>Seguridad del Paciente se define como el conjunto de elementos estructurales, procesos, instrumentos
                                    y metodologías basadas en evidencias científicamente...
                                </p>
                                <a href="javascript:void(0)" class="blog-btn">Ver más</a>
                            </div>
                        </div>
                        <div class="single-latest-blog-item">
                            <div class="single-latest-blog-item-img">
                                <a href="javascript:void(0)">
                                    <img src="/assets/img/blog/lipovisitaMini.jpg" alt="">
                                </a>
                            </div>
                            <div class="single-latest-blog-content">
                                <a href="javascript:void(0)">
                                    <h2> Visita de la Secretaria de Salud
                                        <br>¿Una Lipo-Visita?</h2>
                                </a>
                                <p>En días pasados recibí la llamada de un amigo, que me comento, que a uno de sus mejores clientes
                                    le anunciaron vista de la Secretaria Distrital de Salud...</p>
                                <a href="javascript:void(0)" class="blog-btn">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12  wow fadeInLeft">
                <div class="latest-blog-right">
                    <h2>¿Por qué Medingenio?</h2>
                    <p>Nuestro compromiso esta con los clientes que han depositado su confianza y nos han dado un lugar muy
                        especial en sus negocios</p>
                    <div class="titan-collapse">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            ¿Por qué elegirnos?
                                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        Tenemos el conocimiento y la experiencia que requieren sus procesos de certificación y auditoria. Resultados positivos nos
                                        avalan como un aliado confiable
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            Nuestra Promesa de Servicio
                                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Garantía en el trabajo, acompañamiento en todo momento, Honestidad, Compromiso, Respeto y Fidelidad
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            Metodología
                                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Ofrecemos nuestros servicios bajo diferentes métodos de trabajo, de acuerdo a la dinámica de cada institución o persona,
                                        es decir, el método de trabajo es personalizado a cada cliente, cada proyecto cuenta
                                        con un director, que lidera, desarrolla y está siempre disponible para las dudas
                                        o requerimientos del cliente.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- latest-blog-area End -->